[safe]
	directory = /storage/emulated/0/Hitomi-StoreV3
	directory = /storage/emulated/0/Hitomi-StoreV3
	directory = /storage/emulated/0/Hitomi-StoreV3
[user]
	email = abilbot28@gmail.com
	name = abilbotz1
